/** Ultra Light */
@font-face {
  font-family: "San Francisco";
  font-weight: 100;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff2");
}

/** Thin */
@font-face {
  font-family: "San Francisco";
  font-weight: 200;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff2");
}

/** Regular */
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff2");
}

/** Medium */
@font-face {
  font-family: "San Francisco";
  font-weight: normal;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff2");
}

/** Semi Bold */
@font-face {
  font-family: "San Francisco";
  font-weight: 500;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff2");
}

/** Bold */
@font-face {
  font-family: "San Francisco";
  font-weight: bold;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff2");
}

/** heavy */
@font-face {
  font-family: "San Francisco";
  font-weight: 600;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-heavy-webfont.woff2");
}

:root {
  --main-color: rgba(25, 25, 112, 1);
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "San Francisco", 'Avenir Black', 'Avenir', 'Roboto', sans-serif;
  margin: 0 auto;
  padding: 5% 5% 0 5%;
  color: black;
  background: white;
}

#headerdiv {
  width: 100%;
  margin: 0 0;
}

.hidden	{
  visibility: hidden;
}

.img-circle {
  max-width: 30vh;
  max-height: 30vh;
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 0px;
  border: 0.5vh solid var(--main-color);
  border-radius: 50%;
}

.img-circle:hover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 0.5vh solid var(--main-color);
  box-shadow: 0 0 0.5em 0.1em rgba(0, 0, 0, 0.5);
}

#name {
  font-weight: 600;
  font-size: 7vw;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
}

.about p {
  font-weight: 200;
  font-size: 2.5em;
  text-align: center;
  margin-top: 1vh;
  padding-left: max(3vw, env(safe-area-inset-left));
  padding-right: max(3vw, env(safe-area-inset-right));
}

#always-hidden {
  visibility: hidden;
  display: inline-block;
  font-weight: 600;
  font-size: 7vw;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
}

p {
  font-weight: 300;
  font-size: 1.5em;
  text-align: justify;
}

.linelink {
  position: relative;
  text-decoration: none;
  color: black;
  z-index: 0;
}

.linelink:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.075em;
  bottom: 0.125em;
  left: 0;
  background: var(--main-color);
  visibility: hidden;
  border-radius: 2px;
  transform: scaleX(0);
  transition: .25s linear;
}

.linelink:hover:before,
.linelink:focus:before {
  visibility: visible;
  transform: scaleX(1);
  color: var(--main-color);
}

.linelink:hover {
  color: var(--main-color);
}

.multilinelink {
  text-decoration: none;
  color: black;
}

.multilinelink:hover {
  text-decoration: underline;
  color: var(--main-color);
}

.arrow {
  color: var(--main-color);
}

.social-icons {
  color: black;
  font-size: 8vw;
  text-align: center;
  line-height: 1%;
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 5%;
}

.social-icons a, .social-icons i {
  color: var(--main-color);
}

.social-icons a:hover, .social-icons i:hover {
  transform: scale(1.2, 1.2);
  z-index: 0;
}

.projPic:hover {
  border: 0.5vh solid var(--main-color);
}

.ITMe, .projects{
  margin: 0 auto;
  width: 80%;
  height: auto;
  /*background: rgba(0, 0, 0, 0.3);*/
  padding-left: max(3vh, env(safe-area-inset-left));
  padding-right: max(3vh, env(safe-area-inset-right));
}

.project {
  display: block;
  text-align: justify;
  margin-bottom: 7vh;
}

#lastProject {
  margin-bottom: 2vh;
}

@media (max-width: 480px) {
  .about p {
    font-size: 1.5em;
  }
  p {
    font-size: 1.2em;
  }
  h1 {
    font-size: 2.5em;
  }
  .nav a {
    font-size: 4vw;
  }
  h2 {
     font-size: 1.75em;
  }
  h3 {
     font-size: 1.25em;
  }
  footer {
    font-size: 0.75em;
  }
  .appIcon {
    max-width: 33%;
  }
  .anchor{
     display:block;
     height:3.5vh;
     margin-top:-3.5vh;
     visibility:hidden;
  }
}

.about {
  text-align: center;
  margin: 0 auto;
  height: auto;
  padding: 1vh;
}

h1 {
  font-weight: 900;
  font-size: 7vw;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

h2 {
  font-weight: 700;
  font-size: 2.3em;
}

h3 {
  font-weight: 500;
  font-size: 2em;
}

.sectionBreak {
  width: 60%;
  border-top: 1px solid black;
  margin: 0 auto;
}

.Pics169 img {
  max-width: 18vh;
  max-height: 32vh;
}

.Pics916 img {
  max-width: 32vh;
  max-height: 18vh;
}

.nav {
  background-color: var(--main-color);
  /*background-color: rgba(88,86,244, 1);*/
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  text-align: center;
  z-index: 1;
}

.nav a, #githublink {
  z-index: 3;
  padding: 1vw 1vw;
  display: inline-block;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  text-decoration: none;
  font-size: 1.8em;
  font-style: none;
}

.nav a:hover, #githublink:hover {
  background-color: white;
  color: var(--main-color);
}

.footer {
  background-color: var(--main-color);
  overflow: hidden;
  position: absolute;
  left: 0px;
  right: 0px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 0px;
}

.fade {
  display: hidden;
}

.e404 {
  padding-top: 2vh;
}

.e404 h1 {
  font-size: 10vh;
}
.anchor {
   display:block;
   height:5vh;
   margin-top:-5vh;
   visibility:hidden;
}

.afterProj {
  width: 80%;
  padding-top: 10vh;
  margin: 0 auto;
}

.appIcon {
  float: left;
  max-width: 20%;
  padding-right: 1vw;
  padding-bottom: 0.5vh;
}

.projPic {
  margin-right: 3vw;
  border: 0.5vh solid black;
}

.aStoreBadge {
  float: left;
  padding-right: 1vw;
  padding-bottom: 0.5vh;
  max-width: 25vh;
  max-height: 7,375vh;
}

.startImage {
  width: 20vw;
}

.vcard {
  font-size: 7vw;
}
