body {
  background-color: #000000;
  font-family: 'Orbitron', sans-serif;
  margin: 0;
  padding: 0;
}

#title-wrapper {
  font-size: 7em;
  color: #ffffff;
  position: absolute;
  top: 50%;
  -ms-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}

.measure {
  font-size: 7em;
  left: 0px;
  top: 0px;
  position: absolute;
  height: auto;
  width: auto;
  white-space: nowrap;
  visibility: hidden;
}

#tagCanvas {
  overflow: hidden;
}

#circle-img {
  visibility: hidden;
  position: absolute;
}
