body {
    background-color: #000000;
    font-family: 'Consolas', sans-serif;
    margin: 0;
    padding: 0;
    color: #ffffff;
}

.socialIcon {
    position: absolute;
    font-size: 3em;
    border-radius: 50%;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.socialIcon a {
    display: block;
}

.socialIcon:hover {
    cursor: pointer;
}

#title-wrapper {
    font-size: 7em;
    position: absolute;
    top: 50%;
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
}

#subtitle {
    font-size: 1em;
    position: absolute;
    width: 100%;
    top: 95%;
    text-align: center;
    display: none;
}

#subtitle a {
    color: #ffffff;
    text-decoration: none;
}

#subtitle a:hover {
    color: #AAA;
}

.measure {
    font-size: 7em;
    top: 0;
    position: absolute;
    visibility: hidden;
}

#tagCanvas {
    overflow: hidden;
}

#circle-img {
    visibility: hidden;
    position: absolute;
}

#langswitch {
    display: block;
    position: absolute;
    bottom: 30px;
    right: 30px;
    text-decoration: none;
    color: white;
}

#langswitch:hover {
    color: #AAA;
}
